<?xml version="1.0"?>
<robot name="pincher_arm" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pincher_arm_description)/urdf/pincher_arm.xacro"/>
  
  <link name="base_link"/>
  
  <xacro:pincher_arm parent="base_link">
    <origin xyz="0.0 0.0 0.0"/>
  </xacro:pincher_arm>

</robot>
