<launch>
  <arg name="sim" default="false"/>
  <arg name="port" default="/dev/ttyUSB0"/>

  <param name="robot_description" 
         command="xacro $(find pincher_arm_description)/urdf/pincher_arm.urdf.xacro"/>

  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher"/>

  <include file="$(find pincher_arm_bringup)/launch/driver.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="port" value="$(arg port)"/>
  </include>

</launch>
